/* 
Main styles here - active on every site
*/

@import "@/assets/scss/variables.scss";


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: $font-family;
    background-color: #1D2125;
    color: #B6C2CF;
}

p,
li,
h1,
h2,
h3,
h4 {
  // Help prevent overflow of long words/names/URLs
  overflow-wrap: break-word;

  // Optional, not supported for all languages
  hyphens: auto;
}

h1{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

img{
    display: block;
    max-width: 100%;
}